.card {
    transform: translateY(30px);
    list-style-type: none;
    padding: 0;
}
.card li {
    margin-bottom: 10px;
}
.card li a {
    text-decoration: none;
    color: #ffffff;
    background: #8b19e2;
}
.card li a:hover {
    color: beige;
}
